:root {
  --color-background: #2e3136;
  --color-background-dark: #1e2124;
  --color-background-light: #36393E;

  --color-accent: #FF4081;

  --color-primary: #303F9F;
  --color-primary-dark: #303F9F;
  --color-primary-light: #C5CAE9;

  --color-text-primary: #fff;
  --color-text-secondary: #bfbfbf;
  --color-text-tertiary: #727272;

  --color-red: #F44336;
  --color-red-dark: #D32F2F;
}
