:root {
  --color-background: #2e3136;
  --color-background-dark: #1e2124;
  --color-background-light: #36393e;

  --color-accent: #cddc39;

  --color-primary: #673ab7;
  --color-primary-dark: #512da8;
  --color-primary-light: #d1c4e9;

  --color-text-primary: #fff;
  --color-text-secondary: #bfbfbf;
  --color-text-tertiary: #727272;

  --color-red: #f44336;
  --color-red-dark: #d32f2f;
}
