.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 800px;
}

.search {
  flex: 4;
}

.searchBar {
}

.songResults {
  height: 600px;
  overflow-x: hidden;
  flex: 1;
}

.playlistList {
  height: 600px;
  overflow-x: hidden;
  flex: 1;
}
