.container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 800px;
}

.search {
  flex: 4;
}

.searchBar {
}

.songResults {
  height: 600px;
  overflow-x: hidden;
  flex: 1;
}

.playlistListSearchResults {
  display: flex;
  height: 50px;
  flex-direction: row;
  align-items: center;
  padding: 0 25px;
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
}
