.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-grow: 1;
  flex-shrink: 1;
}

.searchContainer {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.searchBar {
  padding-left: 10px;
}

.songResults {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
}

.spinnerContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
