.row {
  display: flex;
  height: 50px;
  flex-direction: row;
  align-items: center;
  padding: 0 25px;
  border-bottom: 1px solid #e0e0e0;
}

.canDrop {
  composes: row;
  background-color: #43c253;
}

.canDropIsOver {
  composes: canDrop;
  border: 1px solid rgb(10, 92, 0);
}

.canNotDrop {
  composes: row;
  background-color: #bd5050;
}
