.playlistList {
  width: 200px;
  flex-shrink: 0;
  overflow-x: hidden;
  background-color: #2e3136;
}

.textInputWrapper {
  padding: 5px;
  box-sizing: border-box;
  overflow: hidden;
}

.playlistListSearchResults {
  display: flex;
  height: 50px;
  flex-direction: row;
  align-items: center;
  padding: 0 25px;
}

.navHeader {
  margin-top: 20px;
}
