.message {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
}

.userName {
  margin-right: 2px;
  color:#fff;
}

.text {
  color: #bfbfbf
}

.timeSent{
  margin-right: 5px;
  float:right;
  color: #727272;
  font-size: 12px;
}
